# Ignore environment and sensitive config
.env

# Ignore Python cache and artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code workspace settings
.vscode/

# Ignore Jupyter notebooks checkpoints (if any)
.ipynb_checkpoints/

# Ignore OS/system files
.DS_Store
Thumbs.db
#ignore inserting rules file 
backend/insert_rules.py
